[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "easyVerification"]
	path = easyVerification
	url = https://github.com/jonasbhend/easyverification
